@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  display: inline-block;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

html,
body {
  line-height: 1;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.nav {
  -webkit-transition: left 0.3s;
  transition: left 0.3s;
}
@media (max-width: 61.5625em) {
  .nav {
    background-color: rgba(0, 0, 0, 0.9);
    overflow: auto;
    padding-block: 6.25rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5.625rem;
  }
  .nav__link {
    font-size: 1.75rem;
  }
  .open-menu .nav {
    left: 0;
  }
}
.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.5rem;
}
@media (min-width: 68.75em) {
  .nav__list {
     -webkit-column-gap: 40px;
        -moz-column-gap: 40px;
             column-gap: 40px;
  }
}
@media (min-width: 56.25em) and (max-width: 68.75em) {
  .nav__list {
     -webkit-column-gap: clamp(20px, -70px  +  10vw, 40px);
        -moz-column-gap: clamp(20px, -70px  +  10vw, 40px);
             column-gap: clamp(20px, -70px  +  10vw, 40px);
  }
}
@media (max-width: 56.25em) {
  .nav__list {
     -webkit-column-gap: 20px;
        -moz-column-gap: 20px;
             column-gap: 20px;
  }
}
@media (max-width: 61.5625em) {
  .nav__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
    font-size: 2.5rem;
  }
}
.nav__item {
  color: #fff;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.burger {
  position: relative;
  width: 2.0625rem;
  height: 1.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  cursor: pointer;
  z-index: 15;
}
.burger span, .burger::after, .burger::before {
  position: absolute;
  right: 0;
  height: 0.1875rem;
  background: #8176AF;
  background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 2.5rem;
}
.burger span {
  top: 50%;
  width: 1.5rem;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.burger::after, .burger::before {
  content: "";
  width: 100%;
  -webkit-transition: width 0.2s, rotate 0.3s, top 0.3s, bottom 0.3s;
  transition: width 0.2s, rotate 0.3s, top 0.3s, bottom 0.3s;
}
.burger::after {
  bottom: 0;
}
.burger::before {
  top: 0;
}
.burger--active span {
  width: 0;
}
.burger--active::after {
  rotate: 45deg;
  bottom: calc(50% - 1px);
}
.burger--active::before {
  top: calc(50% - 1px);
  rotate: -45deg;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .burger:hover span {
    width: 100%;
  }
  .burger:hover::after, .burger:hover::before {
    width: 1.5rem;
  }
}
@media (min-width: 61.5625em) {
  .burger {
    display: none;
  }
}

.btn {
  padding-block: 1.0625rem;
  background: #8176AF;
  background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  border-radius: 40px;
  color: rgb(52, 48, 69);
  font-size: 0.75rem;
  line-height: 1.25;
  -webkit-transition: outline 0.1s;
  transition: outline 0.1s;
  text-transform: uppercase;
  font-weight: 700;
}
@media (min-width: 83.4375em) {
  .btn {
    padding-inline: 40px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .btn {
    padding-inline: clamp(30px, 26.8472906404px  +  0.9852216749vw, 40px);
  }
}
@media (max-width: 20em) {
  .btn {
    padding-inline: 30px;
  }
}
@media (any-hover: hover) and (any-pointer: fine) {
  .btn:hover {
    outline: 0.0625rem solid #fff;
  }
}
.btn--transparent {
  border: 2px solid #fff;
  color: #fff;
  background: none;
}
.btn--arrow {
  position: relative;
}
.btn--arrow::after {
  background: url(../img/icons/arrow.svg) center/cover no-repeat;
  width: 2.6875rem;
  height: 2.0625rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -5.1875rem;
}
@media (min-width: 83.4375em) {
  .btn--arrow::after {
    right: -83px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .btn--arrow::after {
    right: clamp(-83px, -43.5418719212px  +  -2.9556650246vw, -53px);
  }
}
@media (max-width: 20em) {
  .btn--arrow::after {
    right: -53px;
  }
}
@media (min-width: 47.99875em) {
  .btn--arrow::after {
    content: "";
  }
}

.descr {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1rem;
}

.circle {
  color: rgb(52, 48, 69);
  font-size: 4rem;
  line-height: 1.21;
  padding: 0.625rem;
  border-radius: 50%;
  background: linear-gradient(71deg, #C0B7E8, #8176AF 100%);
  width: 9.9375rem;
  aspect-ratio: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.circle--small {
  width: 3.75rem;
}

.title--capitalize {
  text-transform: capitalize;
  line-height: 1.4;
}
@media (min-width: 90em) {
  .title--capitalize {
    font-size: 40px;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .title--capitalize {
    font-size: clamp(24px, 5.7142857143px  +  2.380952381vw, 40px);
  }
}
@media (max-width: 48em) {
  .title--capitalize {
    font-size: 24px;
  }
}
.title--capitalize span {
  display: inline-block;
  background: -webkit-gradient(linear, left top, right top, from(#8176af), to(#c0b7e8));
  background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (min-width: 90em) {
  .title--capitalize span {
    font-size: 46px;
  }
}
@media (min-width: 48em) and (max-width: 90em) {
  .title--capitalize span {
    font-size: clamp(36px, 24.5714285714px  +  1.4880952381vw, 46px);
  }
}
@media (max-width: 48em) {
  .title--capitalize span {
    font-size: 36px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  background: rgb(48, 44, 66);
  font-size: 0.875rem;
  font-weight: 700;
  color: #FFF;
}
body.scroll-lock {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

[class*=__container] {
  max-width: 81.5625rem;
  margin: 0 auto;
  padding-inline: 0.9375rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  -webkit-transition: background-color 0.3s, padding 0.3s;
  transition: background-color 0.3s, padding 0.3s;
  padding-bottom: 1.25rem;
  z-index: 50;
}
@media (min-width: 83.4375em) {
  .header {
    padding-top: 50px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .header {
    padding-top: clamp(20px, 10.5418719212px  +  2.9556650246vw, 50px);
  }
}
@media (max-width: 20em) {
  .header {
    padding-top: 20px;
  }
}
.header--scrolled {
  background-color: rgba(0, 0, 0, 0.8);
}
@media (min-width: 83.4375em) {
  .header--scrolled {
    padding-top: 25px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .header--scrolled {
    padding-top: clamp(20px, 18.4236453202px  +  0.4926108374vw, 25px);
  }
}
@media (max-width: 20em) {
  .header--scrolled {
    padding-top: 20px;
  }
}
.header--scrolled .header__logo img {
  width: 7.5rem;
}
@media (min-width: 83.4375em) {
  .header--scrolled .header__logo img {
    width: 120px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .header--scrolled .header__logo img {
    width: clamp(80px, 67.3891625616px  +  3.9408866995vw, 120px);
  }
}
@media (max-width: 20em) {
  .header--scrolled .header__logo img {
    width: 80px;
  }
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media (min-width: 83.4375em) {
  .header__logo {
    width: 193px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .header__logo {
    width: clamp(150px, 136.4433497537px  +  4.236453202vw, 193px);
  }
}
@media (max-width: 20em) {
  .header__logo {
    width: 150px;
  }
}
@media (min-width: 90em) {
  .header__logo {
    margin-right: 75px;
  }
}
@media (min-width: 62.5em) and (max-width: 90em) {
  .header__logo {
    margin-right: clamp(0.000001px, -170.4545421818px  +  17.0454543182vw, 75px);
  }
}
@media (max-width: 62.5em) {
  .header__logo {
    margin-right: 0.000001px;
  }
}
.header__logo img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 100%;
}
.header__nav {
  z-index: 10;
}
@media (max-width: 61.5625em) {
  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    width: 100%;
  }
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (min-width: 68.75em) {
  .header__actions {
    gap: 38px;
  }
}
@media (min-width: 56.25em) and (max-width: 68.75em) {
  .header__actions {
    gap: clamp(15px, -88.5px  +  11.5vw, 38px);
  }
}
@media (max-width: 56.25em) {
  .header__actions {
    gap: 15px;
  }
}
@media (max-width: 40.625em) {
  .header__actions {
    display: none;
  }
  .header__actions--loaded {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__actions--dynamic {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }
  .header__actions--dynamic .btn {
    padding: 1.5625rem 2.5rem;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 61.5625em) {
  .header__burger {
    display: block;
  }
}

.intro {
  overflow: hidden;
}
.intro__container {
  position: relative;
}
.intro__container::before, .intro__container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.intro__container::after {
  top: 0;
  right: -4.375rem;
  background: url(../img/intro/intro_decor_big.png) center/cover no-repeat;
  max-height: 52.8125rem;
  max-width: 45.9375rem;
}
@media (max-width: 47.99875em) {
  .intro__container::after {
    right: 0rem;
    top: -4.1875rem;
    max-height: 44.3125rem;
    max-width: 38.5625rem;
  }
}
@media (min-width: 56.25em) {
  .intro__container::before {
    bottom: 0;
    left: 0;
    background: url(../img/intro/intro_decor_small.png) center/cover no-repeat;
    max-height: 35.0625rem;
    max-width: 14.875rem;
  }
}
.intro__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (min-width: 90em) {
  .intro__inner {
    padding-top: 247px;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .intro__inner {
    padding-top: clamp(140px, 109.4285714286px  +  9.5535714286vw, 247px);
  }
}
@media (max-width: 20em) {
  .intro__inner {
    padding-top: 140px;
  }
}
@media (min-width: 90em) {
  .intro__inner {
    padding-bottom: 130px;
  }
}
@media (min-width: 20em) and (max-width: 90em) {
  .intro__inner {
    padding-bottom: clamp(50px, 27.1428571429px  +  7.1428571429vw, 130px);
  }
}
@media (max-width: 20em) {
  .intro__inner {
    padding-bottom: 50px;
  }
}
@media (max-width: 47.99875em) {
  .intro__inner {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 2.5rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.intro__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  gap: 1.875rem;
}
@media (max-width: 47.99875em) {
  .intro__info {
    padding: 0;
  }
}
@media (max-width: 47.99875em) {
  .intro__title {
    text-align: center;
  }
}
@media (min-width: 56.25em) {
  .intro__title {
    max-width: 28.75rem;
  }
}
.intro__decsr {
  display: none;
}
@media (min-width: 47.99875em) {
  .intro__decsr {
    max-width: 28.125rem;
    display: block;
  }
}
@media (min-width: 83.4375em) {
  .intro__decsr:not(:last-child) {
     margin-bottom: 36px;
  }
}
@media (min-width: 20em) and (max-width: 83.4375em) {
  .intro__decsr:not(:last-child) {
     margin-bottom: clamp(0.000001px, -11.3497523793px  +  3.546797931vw, 36px);
  }
}
@media (max-width: 20em) {
  .intro__decsr:not(:last-child) {
     margin-bottom: 0.000001px;
  }
}
.intro__btn {
  -ms-flex-item-align: center;
      align-self: center;
}
@media (min-width: 47.99875em) {
  .intro__btn {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.intro__image-box {
  border-radius: 50%;
  overflow: hidden;
  border: rgba(0, 0, 0, 0.13) 1.125rem solid;
  border-radius: 25.66% 23.94% 21.18% 46.75%/25.66% 23.94% 21.18% 57.61%;
  max-width: 32.75rem;
  -ms-flex-negative: 2;
      flex-shrink: 2;
  aspect-ratio: 524/455;
  -ms-flex-item-align: center;
      align-self: center;
}
.intro__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.contacts-banner__inner {
  position: relative;
  padding-block: 1.5625rem;
  background: #3A3456;
  background: radial-gradient(circle, rgba(58, 52, 86, 0.95) 0%, rgb(33, 30, 46) 100%);
  border-radius: 5.625rem;
  overflow: clip;
}
.contacts-banner__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  min-height: 7.25rem;
  padding-inline: 3.75rem;
}
.contacts-banner__item.swiper-slide-active {
  opacity: 1;
}
@media (min-width: 61.99875em) {
  .contacts-banner__item {
    opacity: 1;
    padding-inline: 1.875rem;
  }
  .contacts-banner__item:not(:last-child)::after {
    background-color: rgba(192, 183, 232, 0.33);
  }
}
@media (min-width: 41.3125em) {
  .contacts-banner__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  .contacts-banner__item::after {
    content: "";
    width: 0.0625rem;
    height: 100%;
    background-color: transparent;
    margin-left: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  .contacts-banner__item.swiper-slide-active::after {
    background-color: rgba(192, 183, 232, 0.33);
  }
  .contacts-banner__item.swiper-slide-next {
    opacity: 1;
  }
}
@media (max-width: 29.99875em) {
  .contacts-banner__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts-banner__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 3.75rem;
  aspect-ratio: 1;
}
.contacts-banner__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}
@media (any-hover: hover) and (any-pointer: fine) {
  .contacts-banner__info:hover .contacts-banner__descr {
    text-decoration: underline;
  }
}
.contacts-banner__title {
  display: none;
}
@media (min-width: 41.3125em) {
  .contacts-banner__title {
    display: block;
  }
}
.contacts-banner__descr {
  font-size: 14;
  font-weight: 400;
  line-height: 1.5;
}
@media (max-width: 29.99875em) {
  .contacts-banner__descr {
    text-align: center;
  }
}
.contacts-banner__prev-btn, .contacts-banner__next-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: 3;
  height: 100%;
  background: url(../img/icons/chevron.svg) center/contain no-repeat;
}
@media (min-width: 61.99875em) {
  .contacts-banner__prev-btn, .contacts-banner__next-btn {
    width: 40px;
  }
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .contacts-banner__prev-btn, .contacts-banner__next-btn {
    width: clamp(30px, -4.2848214286px  +  4.4642857143vw, 40px);
  }
}
@media (max-width: 47.99875em) {
  .contacts-banner__prev-btn, .contacts-banner__next-btn {
    width: 30px;
  }
}
.contacts-banner__prev-btn {
  left: 0.6875rem;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}
.contacts-banner__next-btn {
  right: 0.6875rem;
}