@use "_vars" as *;
@use "_mixins" as *;

// ------------------------------------------------------------------------------------------
// WRAPPER
// ------------------------------------------------------------------------------------------
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    >main {
        flex-grow: 1;
    }
}

// ------------------------------------------------------------------------------------------
// NAV
// ------------------------------------------------------------------------------------------
.nav {
    transition: left .3s;

    @media (max-width:toEm(985)) {
        background-color: rgba(0, 0, 0, 0.9);
        overflow: auto;
        padding-block: toRem(100);
        display: flex;
        flex-direction: column;
        gap: toRem(90);

        &__link {
            font-size: toRem(28);
        }

        .open-menu & {
            left: 0;
        }
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: toRem(40);
        flex-wrap: wrap;
        row-gap: toRem(40);

        @include adaptiveValue(" column-gap", 40, 20, 0, 1100, 900);

        @media (max-width:toEm(985)) {
            flex-direction: column;
            gap: toRem(30);
            font-size: toRem(40);
        }
    }

    &__item {
        color: #fff;
        font-size: toRem(12);
        text-transform: uppercase;
    }
}

// ------------------------------------------------------------------------------------------
// BURGER
// ------------------------------------------------------------------------------------------
.burger {
    position: relative;
    width: toRem(33);
    height: toRem(26);
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-direction: column;
    flex-shrink: 0;
    cursor: pointer;
    z-index: 15;

    & span,
    &::after,
    &::before {
        position: absolute;
        right: 0;
        height: toRem(3);
        background: $bgcForGradient;
        background: $bgGradient;
        border-radius: toRem(40);
    }

    & span {
        top: 50%;
        width: toRem(24);
        transition: width .3s;
    }

    &::after,
    &::before {
        content: '';
        width: 100%;
        transition: width .2s, rotate .3s, top .3s, bottom .3s;
    }

    &::after {
        bottom: 0;
    }

    &::before {
        top: 0;
    }

    &--active {
        & span {
            width: 0;
        }

        &::after {
            rotate: 45deg;
            bottom: calc(50% - 1px);
        }

        &::before {
            top: calc(50% - 1px);
            rotate: -45deg
        }
    }

    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
            & span {
                width: 100%;
            }

            &::after,
            &::before {
                width: toRem(24);
            }
        }
    }

    @media (min-width:toEm(985)) {
        display: none;
    }
}

// ------------------------------------------------------------------------------------------
// BTN
// ------------------------------------------------------------------------------------------
.btn {
    padding-block: toRem(17);
    background: #8176AF;
    background: linear-gradient(90deg, #8176af 0%, #c0b7e8 100%);
    border-radius: 40px;
    color: rgba(52, 48, 69, 1);
    font-size: toRem(12);
    line-height: 1.25;
    transition: outline 0.1s;
    text-transform: uppercase;
    font-weight: 700;

    @include adaptiveValue("padding-inline", 40, 30);

    @media (any-hover: hover) and (any-pointer: fine) {
        &:hover {
            outline: toRem(1) solid #fff;
        }
    }

    &--transparent {
        border: 2px solid #fff;
        color: #fff;
        background: none;
    }

    &--arrow {
        position: relative;

        &::after {
            background: url(../img/icons/arrow.svg) center/ cover no-repeat;
            width: toRem(43);
            height: toRem(36);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: toRem(-83);

            @include adaptiveValue("right", -83, -53);

            @media (min-width:toEm($mobile)) {
                content: '';

            }
        }
    }

    &__slider {
        display: flex;
        justify-content: center;
        align-items: center;
        width: toRem(44);
        aspect-ratio: 1;
        background: $bgGradient;
        outline: toRem(9) solid rgba(14, 14, 14, .32);
        border-radius: 50%;
        position: absolute;
        top: 45%;
        z-index: 5;


        &--prev {
            left: toRem(15);
            transform: rotate(180deg);
        }

        &--next {
            right: toRem(15);
        }
    }
}

// ------------------------------------------------------------------------------------------
// DESCRIPTION
// ------------------------------------------------------------------------------------------
.descr {
    font-weight: 400;
    line-height: 1.5;
    font-size: toRem(16);

    &--s {
        font-size: toRem(14);
    }

    &--xs {
        font-size: toRem(12);
    }
}

// ------------------------------------------------------------------------------------------
// CIRCLE
// ------------------------------------------------------------------------------------------
.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: $bgcForGradient;
    background: $bgGradient;
    aspect-ratio: 1;
    outline: toRem(9) solid rgba(14, 14, 14, 0.33);
    width: toRem(38);
    z-index: 10;

    img {
        width: 100%;
        height: 100%;
    }

    &--prev {
        transform: rotate(180deg);
    }

    &--big {
        font-size: toRem(64);
        line-height: 1.21;
        padding: toRem(10);
        width: toRem(159);
        color: rgba(52, 48, 69, 1);
        outline-width: toRem(15);
    }

    &--medium {
        outline-width: toRem(15);
        width: toRem(60);
    }
}

// ------------------------------------------------------------------------------------------
// TITLE
// ------------------------------------------------------------------------------------------
.title {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: toRem(36);

    @include adaptiveValue("font-size", 36, 26, 0, 1440, 375);

    @media (max-width:toEm($mobile)) {
        text-align: center;
    }

    strong {
        display: inline-block;
        margin-bottom: toRem(15);
    }

    span {
        font-weight: 300;
    }

    &--arrow {
        span {
            @media (min-width:toEm($mobile)) {
                display: flex;
                align-items: center;
                order: 1;
                gap: toRem(15);
                white-space: nowrap;
            }

            &::before {
                @media (min-width:toEm($mobile)) {
                    flex-basis: toRem(158);
                    height: toRem(2.5);
                    background-color: #C0B7E8;
                    order: 2;
                    flex-shrink: 5;
                }
            }

            &::after {
                @media (min-width:toEm($mobile)) {
                    background: url(../img/icons/arrow.svg) center / contain no-repeat;
                    width: toRem(44);
                    height: toRem(36);
                    order: 3;
                    margin-left: toRem(-17);
                }
            }

            &::after,
            &::before {
                @media (min-width:toEm($mobileSmall)) {
                    content: '';
                }
            }

        }
    }

    &--capitalize {
        display: inline-block;
        text-transform: capitalize;
        line-height: 1.4;

        @include adaptiveValue("font-size", 40, 24, 0, 1440, 768);

        span {
            display: inline-block;
            background: $bgGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 700;

            @include adaptiveValue("font-size", 46, 36, 0, 1440, 768);

            &::before,
            &::after {
                display: none;
            }
        }
    }
}

// ------------------------------------------------------------------------------------------
// CARD
// ------------------------------------------------------------------------------------------
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #433D60;
    background: radial-gradient(circle, rgba(67, 61, 96, 1) 0%, rgba(33, 30, 46, 1) 100%);
    border-radius: toRem(40);
    padding: toRem(25) toRem(25) toRem(40);
    gap: toRem(17);

    &__img {
        border-radius: 50%;
        border: toRem(14) solid rgba(14, 14, 14, .32);
        overflow: hidden;
        aspect-ratio: 1;
        max-width: toRem(219);
        margin-bottom: toRem(4);

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &__title {
        font-weight: 700;
        font-size: toRem(24);
        text-transform: uppercase;
    }

    &__devider {
        height: toRem(1);
        width: toRem(154);
        background-color: rgba(192, 183, 232, 0.33);
        margin-bottom: toRem(4);
    }

    &__descr {
        margin-bottom: toRem(18);
    }
}

// ------------------------------------------------------------------------------------------
// INFO
// ------------------------------------------------------------------------------------------
.info {
    @include adaptiveValue("padding-top", 90, 59);
    @include adaptiveValue("padding-bottom", 101, 36);

    &__inner {
        display: flex;
        gap: toRem(30);
        justify-content: space-between;

        @media (max-width:toEm($mobile)) {
            flex-direction: column;
        }
    }

    &__title {
        width: 100%;

        @media (min-width:toEm($mobile)) {
            max-width: toRem(485);
        }
    }

    &__descr {
        display: none;
        width: 100%;

        @media (min-width:toEm($mobile)) {
            display: inline-block;
            flex-shrink: .5;
            max-width: toRem(652);
        }
    }
}