@use "_reset";
@use "_fonts";
@use "_vars" as *;
@use "_mixins" as *;
@use "_components";

// ------------------------------------------------------------------------------------------
// BODY
// ------------------------------------------------------------------------------------------
body {
    font-family: 'Montserrat', sans-serif;
    background: rgba(48, 44, 66, 1);
    font-size: toRem(14);
    font-weight: 700;
    color: #FFF;

    &.scroll-lock {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}

// ------------------------------------------------------------------------------------------
// CONTAINER
// ------------------------------------------------------------------------------------------
[class*='__container'] {
    max-width: toRem(1305);
    margin: 0 auto;
    padding-inline: toRem(15);
}

// ------------------------------------------------------------------------------------------
// WRAPPER
// ------------------------------------------------------------------------------------------
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    >main {
        flex-grow: 1;
    }
}

// ------------------------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: background-color .3s, padding .3s;
    padding-bottom: toRem(20);
    z-index: 50;

    @include adaptiveValue("padding-top", 50, 20);

    &--scrolled {
        background-color: rgba(0, 0, 0, 0.8);

        @include adaptiveValue("padding-top", 25, 20);

        .header__logo img {
            width: toRem(120);

            @include adaptiveValue("width", 120, 80);

        }
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: toRem(20);

    }

    &__logo {
        flex-shrink: 0;

        @include adaptiveValue("width", 193, 150);
        @include adaptiveValue("margin-right", 75, 0, 0, 1440, 1000);

        img {
            transition: all .3s;
            width: 100%;
        }
    }

    &__nav {
        z-index: 10;

        @media (max-width:toEm(985)) {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
        }
    }

    &__actions {
        display: flex;
        @include adaptiveValue("gap", 38, 15, 0, 1100, 900);

        @media (max-width:toEm(650)) {
            display: none;

            &--loaded {
                display: flex;
            }

            &--dynamic {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: toRem(30);

                .btn {
                    padding: toRem(25) toRem(40);
                }

            }
        }
    }

    &__burger {
        display: none;

        @media (max-width:toEm(985)) {
            display: block;
        }
    }
}

.intro {
    padding-top: toRem(162);

    &__wrapper {
        display: flex;
        gap: toRem(20);
        justify-content: space-between;

        @include adaptiveValue("padding-top", 98, 20);
        @include adaptiveValue("padding-bottom", 88, 50);

        @media (max-width:toEm(899.98)) {
            flex-wrap: wrap;
            justify-content: center;
            gap: toRem(40);

        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-top: toRem(48);
        flex-shrink: 2;
        gap: toRem(30);

        @media (max-width:toEm(899.98)) {
            padding: 0;
        }
    }

    &__title {

        @media (min-width:toEm(900)) {
            max-width: toRem(460);
        }
    }

    &__decsr {
        @media (min-width:toEm(900)) {
            max-width: toRem(450);
        }

        &:not(:last-child) {
            @include adaptiveValue(" margin-bottom", 36, 0);
        }
    }

    &__btn {
        align-self: center;

        @media (min-width:toEm(900)) {
            align-self: flex-start;
        }
    }

    &__image-box {
        border-radius: 50%;
        overflow: hidden;
        flex-basis: toRem(490);
        border: rgba(0, 0, 0, 0.13) toRem(18) solid;
        border-radius: 19.08% 19.08% 19.08% 45.8% / 21.97% 21.97% 21.97% 52.74%;

        flex-basis: toRem(524);
        flex-shrink: 1;
        aspect-ratio: 524/455;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}