@use "_reset";
@use "_fonts";
@use "_vars" as *;
@use "_mixins" as *;
@use "_components";

// ------------------------------------------------------------------------------------------
// BODY
// ------------------------------------------------------------------------------------------
body {
    font-family: 'Montserrat', sans-serif;
    background: rgb(48, 44, 66);
    font-size: toRem(14);
    font-weight: 700;
    color: #FFF;

    &.scroll-lock {
        overflow: hidden;
        touch-action: none;
        overscroll-behavior: none;
    }
}

// ------------------------------------------------------------------------------------------
// CONTAINER
// ------------------------------------------------------------------------------------------
[class*='__container'] {
    max-width: toRem(1305);
    margin: 0 auto;
    padding-inline: toRem(15);
}

// ------------------------------------------------------------------------------------------
// WRAPPER
// ------------------------------------------------------------------------------------------
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;

    >main {
        flex-grow: 1;
    }
}

// ------------------------------------------------------------------------------------------
// HEADER
// ------------------------------------------------------------------------------------------
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    transition: background-color .3s, padding .3s;
    padding-bottom: toRem(20);
    z-index: 50;

    @include adaptiveValue("padding-top", 50, 20);

    &--scrolled {
        background-color: rgba(0, 0, 0, 0.8);

        @include adaptiveValue("padding-top", 25, 20);

        .header__logo img {
            width: toRem(120);

            @include adaptiveValue("width", 120, 80);

        }
    }

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: toRem(20);

    }

    &__logo {
        flex-shrink: 0;

        @include adaptiveValue("width", 193, 150);
        @include adaptiveValue("margin-right", 75, 0, 0, 1440, 1000);

        img {
            transition: all .3s;
            width: 100%;
        }
    }

    &__nav {
        z-index: 10;

        @media (max-width:toEm(985)) {
            position: fixed;
            top: 0;
            left: -100%;
            height: 100%;
            width: 100%;
        }
    }

    &__actions {
        display: flex;
        @include adaptiveValue("gap", 38, 15, 0, 1100, 900);

        @media (max-width:toEm(650)) {
            display: none;

            &--loaded {
                display: flex;
            }

            &--dynamic {
                justify-content: center;
                flex-direction: column;
                align-items: center;
                gap: toRem(30);

                .btn {
                    padding: toRem(25) toRem(40);
                }

            }
        }
    }

    &__burger {
        display: none;

        @media (max-width:toEm(985)) {
            display: block;
        }
    }
}

// ------------------------------------------------------------------------------------------
// HERO
// ------------------------------------------------------------------------------------------
.hero {
    overflow: hidden;

    &__container {
        margin-inline: toRem(-15);
    }

    &__inner {
        position: relative;
        display: flex;
        gap: toRem(20);
        justify-content: space-between;
        padding-inline: toRem(15);

        @include adaptiveValue("padding-top", 247, 140, 0, 1440);
        @include adaptiveValue("padding-bottom", 130, 50, 0, 1440);


        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
        }


        &::after {
            top: 0;
            right: toRem(-86);
            background: url(../img/hero/hero_decor_big.png) center / cover no-repeat;
            max-height: toRem(845);
            max-width: toRem(735);

            @media (max-width:toEm($mobile)) {
                right: toRem(0);
                top: toRem(-67);
                max-height: toRem(709);
                max-width: toRem(617);
            }
        }

        @media (min-width:toEm(900)) {
            &::before {
                bottom: 0;
                left: 0;
                background: url(../img/hero/hero_decor_small.png) center / cover no-repeat;
                max-height: toRem(561);
                max-width: toRem(238);
            }
        }

        @media (max-width:toEm($mobile)) {
            justify-content: center;
            gap: toRem(40);
            flex-direction: column-reverse;
        }

    }

    &__info {
        display: flex;
        flex-direction: column;
        padding-top: toRem(48);
        flex-shrink: 1;
        gap: toRem(30);

        @media (max-width:toEm($mobile)) {
            padding: 0;
        }
    }

    &__title {
        @media (max-width:toEm($mobile)) {
            text-align: center;
        }

        @media (min-width:toEm(900)) {
            max-width: toRem(460);
        }
    }

    &__decsr {
        display: none;

        @media (min-width:toEm($mobile)) {
            max-width: toRem(450);
            display: block;
        }

        &:not(:last-child) {
            @include adaptiveValue(" margin-bottom", 36, 0);
        }
    }

    &__btn {
        align-self: center;

        @media (min-width:toEm($mobile)) {
            align-self: flex-start;
        }
    }

    &__image-box {
        border-radius: 50%;
        overflow: hidden;
        border: rgba(0, 0, 0, 0.13) toRem(18) solid;
        border-radius: 25.66% 23.94% 21.18% 46.75%/25.66% 23.94% 21.18% 57.61%;

        max-width: toRem(524);
        flex-shrink: 1.2;
        aspect-ratio: 524/455;
        align-self: center;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

// ------------------------------------------------------------------------------------------
// CONTACTS BANNER
// ------------------------------------------------------------------------------------------
.contacts-banner {
    margin-top: toRem(-33);

    &__inner {
        position: relative;
        padding-block: toRem(25);
        background: #3A3456;
        background: radial-gradient(circle, rgba(58, 52, 86, 95%) 0%, rgba(33, 30, 46, 1) 100%);
        border-radius: toRem(90);
        overflow: clip;
    }

    &__item {
        @include flex-center;

        position: relative;
        gap: toRem(10);
        opacity: 0;
        transition: opacity .3s;
        min-height: toRem(116);
        padding-inline: toRem(60);

        &.swiper-slide-active {
            opacity: 1;
        }

        @media (min-width:toEm($tablet)) {
            opacity: 1;
            padding-inline: toRem(30);


            &:not(:last-child) {
                &::after {
                    background-color: rgba(192, 183, 232, 0.33);
                    ;
                }
            }
        }

        @media (min-width:toEm(661)) {
            justify-content: start;

            &::after {
                content: '';
                width: toRem(1);
                height: 100%;
                background-color: transparent;
                margin-left: auto;
                position: absolute;
                top: 0;
                right: 0;
            }

            &.swiper-slide-active {
                &::after {
                    background-color: rgba(192, 183, 232, 0.33);
                }
            }

            &.swiper-slide-next {
                opacity: 1;
            }
        }

        @media (max-width:toEm($mobileSmall)) {
            flex-direction: column;
        }

    }

    &__img {
        @include flex-center;

        flex-shrink: 0;
        width: toRem(60);
        aspect-ratio: 1;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: toRem(10);

        @media (any-hover: hover) and (any-pointer: fine) {
            &:hover {
                .contacts-banner__descr {
                    text-decoration: underline;
                }
            }
        }
    }

    &__title {
        display: none;

        @media (min-width:toEm(661)) {
            display: block;
            font-size: toRem(24);
        }
    }

    &__descr {
        @media (max-width:toEm($mobileSmall)) {
            text-align: center;
        }
    }

    &__prev-btn,
    &__next-btn {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 3;
        // aspect-ratio: 1;
        height: 100%;
        background: url(../img/icons/chevron.svg) center/contain no-repeat;

        @include adaptiveValue("width", 40, 30, 0, $tablet, $mobile);
    }

    &__prev-btn {
        left: toRem(11);
        transform: translateY(-50%) rotate(180deg);
    }

    &__next-btn {
        right: toRem(11);
    }

}

// ------------------------------------------------------------------------------------------
// ABOUT
// ------------------------------------------------------------------------------------------
.about {
    &__inner {
        display: flex;
        margin-right: toRem(-15);
        padding-right: toRem(15);

        @include adaptiveValue("gap", 117, 51, 0, 1440, 767.98);

        @media (min-width:toEm($mobile)) {
            background: url(../img/about/about_decor.png) center/cover no-repeat;
        }

        @media (max-width:toEm($mobile)) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__image {
        aspect-ratio: 524/557;
        overflow: auto;
        max-width: toRem(524);
        border-radius: 45.8% 19.08% 45.8% 19.08% / 43.08% 17.95% 43.08% 17.95%;
        flex-shrink: 2;

        @media (min-width:toEm($mobile)) {
            align-self: center;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: toRem(28);

        @media (min-width:toEm($mobile)) {
            padding-block-start: toRem(45);
        }
    }

    &__title {
        margin-bottom: toRem(14);

        @media (max-width:toEm($mobile)) {
            display: none;
        }
    }

    &__descr {
        max-width: toRem(640);
    }

    &__btn {
        align-self: flex-start;

        @media (max-width:toEm($mobile)) {
            align-self: center;
        }
    }
}

// ------------------------------------------------------------------------------------------
// BUILD
// ------------------------------------------------------------------------------------------
.build {
    @include adaptiveValue("padding-top", 111, 50);
    @include adaptiveValue("padding-bottom", 111, 60);
}

// ------------------------------------------------------------------------------------------
// SERVICES
// ------------------------------------------------------------------------------------------
.services {
    @include adaptiveValue("padding-bottom", 117, 56, 0, 1440, 375);

    @media (min-width:toEm($mobile)) {
        background: url(../img/decoration.png) center toRem(40)/cover no-repeat;
    }

    &__container {
        position: relative;

        @media (max-width:toEm($mobile)) {
            padding-inline: toRem(30);
        }
    }

    &__wrapper {
        position: relative;
    }

    &__btn {
        position: absolute;
        top: 42%;

        &--prev {
            left: 0;
        }

        &--next {
            right: 0;
        }

        @media (min-width:toEm(1050)) {
            display: none;
        }

        @media (max-width:toEm($mobile)) {
            &--prev {
                left: toRem(-15);
            }

            &--next {
                right: toRem(-15);
            }
        }
    }
}

// ------------------------------------------------------------------------------------------
// TECHNOLOGIES
// ------------------------------------------------------------------------------------------
.technologies {

    &__wrapper {
        @include flex-center;

        position: relative;
        border-radius: 12.54% 12.54% 12.54% 12.54%/48.04% 48.04% 48.04% 48.04%;
        overflow: hidden;
        padding: toRem(15) toRem(25);

        @include adaptiveValue("min-height", 303, 163, 0, 1440, 375);

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            background-color: rgba(48, 44, 66, 0.79);
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
        }

        @media (max-width:toEm($mobile)) {
            margin-bottom: toRem(15);
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -2;
        }
    }

    &__title {
        text-align: center;

        strong {
            @include adaptiveValue("font-size", 36, 16, 0, 1440, 375);
        }

    }

    &__circle {
        justify-self: center;
        margin-top: toRem(-30);
        margin-bottom: toRem(15);
        transform: rotate(90deg);

        @media (max-width:toEm($mobile)) {
            display: none;
        }
    }

    &__list {
        padding-inline: toRem(65);

        &::after,
        &::before {
            content: '';
            position: absolute;
            top: 0;
            background-color: rgb(48, 44, 66);
            width: toRem(60);
            height: 100%;
            z-index: 2;
        }

        &::after {
            right: 0;
        }

        &::before {
            left: 0;
        }
    }

    &__item {
        @include flex-center;

        img {
            @include adaptiveValue(" max-width", 256, 180);
            width: 100%;
        }

        &--small {
            img {
                max-width: toRem(174);
            }
        }
    }

    &__btn {
        position: absolute;
        top: 50%;
        translate: 0 -50%;

        @media (min-width:toEm($tablet)) {
            display: none;
        }

        &--prev {
            left: toRem(10);
        }

        &--next {
            right: toRem(10);
        }
    }
}